<div class="container">
  <div class="text-container">
    <span>
      <h1>Anleitung</h1>
      <br>
      Um in OpenShopMap einen Eintrag hinzuzufügen, klicke auf den Button unten rechts oder einen Rechtsklick.<br>
      Klicke nun auf einen schon existierenden Google Maps Eintrag um einen neuen Shop hinzuzufügen.<br>
      Du kannst auch bereits bestehende Shops editieren.<br>
      <br>
      <h2>Hinzufügen eines Shops</h2>
      Um einen Eintrag anzulegen, den es auch bei Google noch nicht gibt nutze das Feld in der Suchleiste.<br>
      Hierbei muss entweder eine Spenden-Url oder eine Webshop-Url angegeben werden.<br>
      Die Platform funktioniert so, dass jeder Links eintragen und auch verändern kann - also sei bitte ehrlich und auch
      vorsichtig.<br>
      Aus diesem Grund werden auch keine Emails unterstützt.<br>
      <br>
      Alternativ kannst du auch den Dialog in der Sucheleiste oben nutzen.
      <br>
    </span>
  </div>

  <button class="close-button button-decorator" (click)="emitClose()">
    <mat-icon>close</mat-icon>
  </button>

  <button class="next-button button-decorator" (click)="emitPrev()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>
