<!-- Toolbar -->
<mat-toolbar color='primary'>
  <span class="banner">OpenShopMap</span>
  <span class="spacer"></span>
  <a href="https://wirvsvirushackathon.org/">
    <span class="banner">#WIRVSVIRUS</span>
  </a>
  <a routerLink="/" [state]="{ showIntro : true }">
    <mat-icon class="icon" aria-hidden="false" aria-label="Example user verified icon">help</mat-icon>
  </a>
  <a routerLink="/about">
    <mat-icon class="icon" url="/about" aria-hidden="false" aria-label="Example user verified icon">contacts</mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
