mat-toolbar{
  min-height:64px;
  max-height:64px
 }

a {
  text-decoration: none;
}

.icon {
  padding: 0 14px;
  padding-top: 5px;
  color: white;
}

.banner {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
