a {
  text-decoration: none;
}

.toolbar{
  min-height:64px;
  max-height:64px
}

.toolbar-icon {
  padding: 0 14px;
  padding-top: 9px;
  color: white;
}

.toolbar-banner {
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.button-decorator {
  background-color: Transparent;
  background-repeat:no-repeat;
  color: rgba($color: #fff, $alpha: 0.9);
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.infowindow-content {
  display: none;
}

#map .infowindow-content {
  display: inline;
}

#map {
  position: absolute;
    top: 64px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.fab-container {
  position: fixed;
  bottom: 37px;
  right: 55px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.close-button {
  position: absolute;
  top: 120px;
  right: 1em;

}
