<div class="container">
  <div class="text-container">
    <span>
      <h1>Willkommen bei OpenShopMap</h1>
      Wir sind beim offiziellen <a href="https://wirvsvirushackathon.org/">#WIRVSVIRUS</a> Hackathon entstanden und
      haben uns das Ziel gesetzt
      während der COVID-19 Krise und den einhergenden Kontaksperren den Einzelhandel zu unterstützen!<br>
      <br>
      <h1>Was macht OpenShopMap?</h1>
      Dein Lieblingsladen, um die Ecke hat einen OnlineShop, oder eine Spenden-Email?<br>
      Trag sie einfach hier ein oder entdecke die weiteren lokalen Angebote in deiner Umgebung!<br>
      <br>
      <h2>Wer sind wir?</h2>
      OpenShopMap ist eine Kosten- und Werbefreie Seite der <a href="http://interface-ag.de/">Interface-AG</a>.<br>
      Wir speichern keine private Daten und unsere Server liegen in Deutschland.<br>
      Der Quellcode ist außerdem auf <a href="https://github.com/knusperkrone/open_shop_map">Github</a> einsehbar.<br>
      <br>
      Auf der nächsten Seite findest du eine kurze Anleitung.
    </span>
  </div>

  <button class="close-button button-decorator" (click)="emitClose()">
    <mat-icon>close</mat-icon>
  </button>

  <button class="next-button button-decorator" (click)="emitNext()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
