<!-- Toolbar -->
<mat-toolbar class="toolbar" color='primary'>
  <a href="/">
    <span class="toolbar-banner">OpenShopMap</span>
  </a>
  <span class="toolbar-spacer"></span>
  <a href="https://wirvsvirushackathon.org/">
    <span class="toolbar-banner">#WIRVSVIRUS</span>
  </a>
  <a routerLink="/about">
    <mat-icon class="toolbar-icon" url="/about" aria-hidden="false" aria-label="Example user verified icon">contacts</mat-icon>
  </a>
</mat-toolbar>


<div class="container">

  <p>
    KONTAKT<br>
    InterFace AG<br>
    Leipziger Straße 16<br>
    82008 Unterhaching<br>
    Fon: +49 89 61049-0<br>
    Fax: +49 89 61049-85<br>
  </p>

  <p>
    E-Mail: info(at)interface-ag.de
  </p>

  <p>
    VORSTAND<br>
    Maximilian Buchberger<br>
    Dr. Christof Stierlen<br>
  </p>

  <p>
    AUFSICHTSRAT<br>
    Prof. Dr. Dr. h. c. Manfred Broy (Vorsitz)<br>
  </p>

  <p>
    HAFTUNGSHINWEIS<br>
    Von unserer Website wird auf Internetseiten verwiesen, die von Dritten betrieben werden. Für alle diese Links gilt,
    dass die InterFace AG keine Verantwortung für deren Inhalte übernimmt und keinen Einfluss auf die Gestaltung und
    Inhalte dieser Seiten hat. Wir distanzieren uns hiermit ausdrücklich von allen Inhalten dieser Seiten und machen uns
    ihren Inhalt nicht zu eigen. Dies gilt für alle Links von unserer Website und für den gesamten Inhalt aller Seiten,
    zu denen unsere Links direkt oder indirekt führen.
    <br>
    Wir haben die Inhalte der Seiten zum Zeitpunkt der Verlinkung geprüft und wiederholen diese Prüfung in regelmäßigen
    Abständen sowie bei Vorliegen eines konkreten Verdachts. Sobald uns Verstöße bekannt werden, entfernen wir die Links
    umgehend.
    <br>
    Die Nutzung von Links, die zu Seiten außerhalb von interface-ag.com führen, erfolgt auf eigene Verantwortung der
    Nutzer.
    <br>
    Dieses Impressum gilt auch für den <a href="https://twitter.com/InterFaceAG">Twitteraccount</a><br>
    und den <a href="http://www.youtube.com/user/InterFaceAG">Youtube Account</a><br>
  </p>

</div>
