a {
  text-decoration: none;
}

.toolbar{
  min-height:64px;
  max-height:64px
 }


.toolbar-icon {
  padding: 0 14px;
  padding-top: 9px;
  color: white;
}

.toolbar-button {
  padding-bottom: 10px;
}

.toolbar-banner {
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.button-decorator {
  background-color: Transparent;
  background-repeat:no-repeat;
  color: rgba($color: #fff, $alpha: 0.9);
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.container {
  margin: auto;
  max-width: 640px;
}

.container {
  width: 100%;
}

.text-container {
  padding: 3em 2em;
  margin: auto;
  max-width: 640px;
}

h1 {
  color: #ff8100;
}

h2 {
  color: #ff8100;
}

.text-link {
  color: #ff9426;
}


.logo {
  width: 500px;
  height: auto;
}
