<!-- Toolbar -->
<mat-toolbar class="toolbar" color='primary'>
  <a href="/">
    <span class="toolbar-banner">OpenShopMap</span>
  </a>
  <span class="toolbar-spacer"></span>
  <a href="https://wirvsvirushackathon.org/">
    <span class="toolbar-banner">#WIRVSVIRUS</span>
  </a>
  <a routerLink="/about">
    <mat-icon class="toolbar-icon" url="/about" aria-hidden="false" aria-label="Example user verified icon">contacts
    </mat-icon>
  </a>
</mat-toolbar>


<div class="container">
  <div class="text-container">
    <img class="logo" [src]="logoPath">
    <span>
      <h2>Willkommen bei OpenShopMap</h2>
      Wir sind beim offiziellen <a class="text-link" href="https://wirvsvirushackathon.org/">#WIRVSVIRUS</a> Hackathon
      entstanden und
      haben uns das Ziel gesetzt
      während der COVID-19 Krise und den einhergenden Kontaksperren den Einzelhandel zu unterstützen!<br>
      <br>
      <h2>Was macht OpenShopMap?</h2>
      Dein Lieblingsladen, um die Ecke hat einen OnlineShop, oder eine Spenden-Email?<br>
      Trag sie einfach hier ein oder entdecke die weiteren lokalen Angebote in deiner Umgebung!<br>
      <br>
      <h2>Wer sind wir?</h2>
      OpenShopMap ist eine kosten- und serbefreie Seite supported by <a href="http://InterFace-ag.de/">InterFace-AG.de</a>.<br>
      Es werden personebezogenen Daten noch Cookies gespeichert und die Server liegen in Deutschland.<br>
      Der Quellcode ist außerdem auf <a href="https://github.com/knusperkrone/open_shop_map">Github</a> einsehbar.<br>
      <br>
    </span>

    <h2>Impressum</h2>
    Aron Metzig<br>
    Hirschelgasse 1<br>
    90403 Nuernberg<br>
    Fon: +49 176 97152432<br>
    E-Mail: aron.metzig(at)gmail.com<br>
    <br>

    <h2>HAFTUNGSHINWEIS</h2>
    Von unserer Website wird auf Internetseiten verwiesen, die von Dritten betrieben werden. Für alle diese Links
    gilt, dass der Seiteninhaber keine Verantwortung für deren Inhalte übernimmt und keinen Einfluss auf die Gestaltung
    und Inhalte dieser Seiten hat. Wir distanzieren uns hiermit ausdrücklich von allen Inhalten dieser Seiten und machen
    uns ihren Inhalt nicht zu eigen. Dies gilt für alle Links von unserer Website und für den gesamten Inhalt aller
    Seiten, zu denen unsere Links direkt oder indirekt führen.
    <br>
    Wir haben die Inhalte der Seiten zum Zeitpunkt der Verlinkung geprüft und wiederholen diese Prüfung in
    regelmäßigen Abständen sowie bei Vorliegen eines konkreten Verdachts. Sobald uns Verstöße bekannt werden, entfernen
    wir die Links umgehend.
    <br>
    Die Nutzung von Links, die zu Seiten außerhalb von openshopmap.de führen, erfolgt auf eigene Verantwortung der
    Nutzer.
  </div>
</div>
